@using User_Registration_MVC.Models
@model User_Registration_MVC.Models.User
<body>
    @{
        Layout = null;
    }
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

    @{
        ViewBag.Title = "Logout";
    }

    <h2>Logout</h2>


    <h1>Wylogowano z aplikacji. Zaloguj się by kontynuować.</h1>

</body>

