<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ee4ce18b-d73a-4e7e-812b-afb6279837ba/resourcegroups/SleepLogAppResourceGroup/providers/Microsoft.Web/sites/YourSleepLog</ResourceId>
    <ResourceGroup>SleepLogAppResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yoursleeplog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yoursleeplog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>YourSleepLog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$YourSleepLog</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SleepLogAppEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yoursleeplogdbserver.database.windows.net,1433;AttachDbFilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;User ID=dawidb1@yoursleeplogdbserver;Password=|serwer1234I" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="User_Registration_MVC.Models.SleepLogAppEntities, User_Registration_MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SleepLogApp2DBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:yoursleeplogdbserver.database.windows.net,1433;AttachDbFilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;User ID=dawidb1@yoursleeplogdbserver;Password=|serwer1234I" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SleepLogApp2DB.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SleepLogApp2DBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DatabaseEF.csdl|res://*/Models.DatabaseEF.ssdl|res://*/Models.DatabaseEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\SleepLogApp2DB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SleepAppV2Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:yoursleeplogdbserver.database.windows.net,1433;AttachDbFilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;User ID=dawidb1@yoursleeplogdbserver;Password=|serwer1234I" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SleepAppV2.mdf;Integrated Security=True;Connect Timeout=30;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SleepAppV2Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SleepModel.csdl|res://*/Models.SleepModel.ssdl|res://*/Models.SleepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\SleepAppV2.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UsersEntities" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:yoursleeplogdbserver.database.windows.net,1433;AttachDbFilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;User ID=dawidb1@yoursleeplogdbserver;Password=|serwer1234I" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MUDASSAR-PC\SQL2014;Initial Catalog=LoginDB;Persist Security Info=True;User ID=sa;Password=pass@123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UsersEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/UsersModel.csdl|res://*/UsersModel.ssdl|res://*/UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUDASSAR-PC\SQL2014;initial catalog=LoginDB;persist security info=True;user id=sa;password=pass@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UsersEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/UsersModel.csdl|res://*/UsersModel.ssdl|res://*/UsersModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:yoursleeplogdbserver.database.windows.net,1433;attachdbfilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;user id=dawidb1@yoursleeplogdbserver;password=|serwer1234I;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SleepLogApp2DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DatabaseEF.csdl|res://*/Models.DatabaseEF.ssdl|res://*/Models.DatabaseEF.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:yoursleeplogdbserver.database.windows.net,1433;attachdbfilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;user id=dawidb1@yoursleeplogdbserver;password=|serwer1234I;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SleepAppV2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SleepModel.csdl|res://*/Models.SleepModel.ssdl|res://*/Models.SleepModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:yoursleeplogdbserver.database.windows.net,1433;attachdbfilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;user id=dawidb1@yoursleeplogdbserver;password=|serwer1234I;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SleepLogAppEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SleepLogAppEF.csdl|res://*/Models.SleepLogAppEF.ssdl|res://*/Models.SleepLogAppEF.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:yoursleeplogdbserver.database.windows.net,1433;AttachDbFilename=C:\Users\Dawid\Documents\GitHub\SleepApp2\User_Registration_MVC\App_Data\SleepLogApp2DB.mdf;User ID=dawidb1@yoursleeplogdbserver;Password=|serwer1234I"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>